<div class="reddit-box">
	<h2><%= @frontpage.title %></h2>
	<h4><%= @frontpage.description %></h4>
	<div class="pull-right">
		<% if current_user && current_user == @frontpage.user %>
			<%= link_to 'Edit', edit_frontpage_path(@frontpage), :class => 'btn btn-primary' %>
			<%= link_to 'Delete', frontpage_path(@frontpage), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'}, :class => 'btn btn-danger' %>
		<% end %>
	</div>
</div>
